.uk-vertical-align.uk-height-1-1.uk-text-center
  .uk-vertical-align-middle.uk-panel.uk-panel-box.uk-panel-box-primary.uk-container
    %h1.uk-text-center.uk-margin-top= "TinyLink URL Shortener"
    = render 'links/new'
