%form
  %fieldset.uk-fieldset
    %legend.uk-legend= 'Add new link'

    %div.uk-margin
      = label_tag :url, class: 'uk-form-label'
      %div.uk-form-controls
        %input#url{type: 'text', placeholder: 'Enter full URL'}
